<html>
    <head>
        <title>Articles  </title> 
      <body>
          <h1> Articles  </h1> 
          <% console.logrequest.article) %>
          <h2> Title: <%= request.article.title %> </h2>
          <p> <%= request.article.content %> </p>
         
          </body>  
        
    </head>
    
    
    
</html>