<html>
    <head>
        <title>New Product</title>
    </head>
    <body>
        <h1>New Product</h1>
        <div>name:
        <input type="text" id="name"/>
        </div>
        <br>
        <div>description:
            <textarea id="description"></textarea>
            
        </div>
        <br>
         <div>price:
            <textarea id="price"></textarea>
            
        </div>
        <br>
         <div>quantity:
            <textarea id="quantity"></textarea>
            
        </div>
        <br>
        <button id="submit">SUBMIT</button>
        
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script>
            var product={name:"", description:"" ,price:"",quantity:""};
            $("#name").change(function(){
                product.name=$("#name").val();
            });
             $("#description").change(function(){
                product.description=$("#description").val();
            });
             $("#price").change(function(){
                product.price=$("#price").val();
            });
             $("#quantity").change(function(e){
                product.quantity=$("#quantity").val();
                console.log(e);
            });
             $("#submit").click(function(){
                 console.log(product);
              $.ajax({
                  method:"POST",
                  url:"/api/products",
                  data:product
              }).done(function(response){
                  console.log(response);
              });
            });
        </script>
    </body>
</html>
