<html>
    <head>
        <title>Products  </title> 
      <body>
          <h1> Products  </h1> 
          <% console.log(request.product) %>
          <h2> Name: <%= request.product.name %> </h2>
          <p> <%= request.product.description %> </p>
           <p><%= request.product.quantity%></p>
             <p><%= request.product.price%></p>
         
          </body>  
        
    </head>
    
    
    
</html>